<div class="container-fluid">
  <h1 class="text-center blue-text animated bounce infinite slower">Quotes</h1>
  <div class="row">
    <div class="col-md-6">
      <app-quote-form (addquote)="addNewQuote($event)"></app-quote-form>
    </div>
    <div class="col-md-6">
      <h1 class="blue-text text-center animated bounce">Get innspired</h1>
      <div class="card card-cascade wider"  *ngFor='let Quote of quotes; let i=index;'>
      
        <!-- Card content -->
        <div class="card-body card-body-cascade text-center pb-0">
          <!-- Title -->
          <h6 class="card-title text-left blue-text" >published by  {{Quote.name}} {{Quote.entryDate|dateCounter}}</h6>
          <div class="card-text black-text">
             <p>{{Quote.quote}}</p>
      
          <!-- Card footer -->
          <div class="card-footer text-muted text-center mt-4 ">
            <div class="text-right blue-text">
             <app-quotevotes [quotes]='Quote'(upvote)='upVote($event,i)' (downvote)='downVote($event,i)'></app-quotevotes>
            </div>
          </div>
      
        </div>

      </div>
    </div>
  </div>
</div>