.card {
  margin-bottom: 30px;
  margin-top: 10px;
  background-color:whitesmoke;
}

input {
color: whitesmoke;
}

@media only screen and(max-width: 420px){
  form {
    border: solid 2px black;
  }
}

.container-fluid {
  background-image: url(https://bit.ly/3gmHkpd);
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: center;
  background-attachment: fixed;
  box-shadow: rgba(42, 43, 43, 0.664) 0 3000px inset;
}